---
import Layout from "../layouts/Layout.astro";
import { GeneratorPage } from "../components/GeneratorPage.tsx";
---

<Layout title="Generator AI - 10x-cards">
  <main class="min-h-[calc(100vh-3rem)] bg-background p-6">
    <div class="max-w-4xl mx-auto">
      <GeneratorPage client:load />
    </div>
  </main>
</Layout>
